@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
  background-color: #4c4c4c;
}

body{
  font-family: 'Josefin Sans', sans-serif;;
  color: #61dafb;
}

h1{
  font-size: 4rem;
}

p{
  font-size: 2rem;
}

.navbar{
  background-color: #4c4c4c;
  color: #61dafb;
}

.link a {
  font-size: 1rem;
}

a{
  text-decoration: none;
  color: #61dafb;
  margin-right: 1rem;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.navbar h1{
  margin-left: 5rem;
}

.navbar .link {
  margin-right: 5rem;
}

.navbar a:hover{
  font-size: 1.5rem;
}

#about-me{
  height: 80%;
  background-color: #0c0c0c;
  padding: 15rem 5rem 25rem 5rem;

}

#competence{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #343434;
}

.wrapper{
  height: 100%;

}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  position:sticky;
  margin: 0px 2rem 0px 5rem;
  border-right:  5px solid #61dafb ;
}

.competence{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.competence img{
  width: 100%;
}

#competence h2{
  width: 100%;
  border-bottom: 3px solid #61dafb;
}

.skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #0c0c0c;
}

.project_wrapper{
  height: 100%;
}

.project_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  position:sticky;
  margin: 0px 2rem 0px 2rem;
  border-right:  5px solid #61dafb ;
}

.project img {
  width: 100%;
}

.dealgames{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description p{
  font-size: 1.5rem;
}

.description {
  margin-bottom: 2rem;
}

.description a {
  text-decoration: underline;
  font-size: 1.5rem;
  margin-left: 45%;
}

#network{
  background-color: #4c4c4c ;
}

.network {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
}

.network img {
  width: 80%;
}

#network h1{
  margin-bottom: 0;
}

.network_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  position:sticky;
  margin: 0 0 0 0;

}

.arrow{
  position: fixed;
  height: 2rem;
  width: 197%;
  bottom: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.arrow:hover{
  opacity: 1;
  height: 2.5rem;
}

@media (max-width: 1260px) {

  .presentation h1{
    font-size: calc(25px + 2vw);
  }

  .presentation p {
    font-size: calc(20px + 1vw);
  }

   .link{
    display: none;
  }

  #navbar {
    justify-content: center;
    align-items: center;
  }

  #navbar h1{
    margin-left: 0;
    font-size: 10vw;
  }

  #competence{
    display: flex;
    flex-direction: column;
  }

  .flex{
    border-right: none;
    margin-left: 5vw;
  }

  .flex h1{
    font-size: calc(25px + 2vw);
  }

  .flex p {
    font-size: calc(20px + 1vw);
  }

  .skill img{
    width: 30vw;
  }

  .skill p {
    font-size: calc(20px + 1vw);
  }

  #project{
    display: flex;
    flex-direction: column;
  }

  .project_flex{
    border-right: none;
    border-bottom: #61dafb 5px solid;
  }

  .project_flex h1{
    font-size: calc(25px + 2vw);
  }

  .project_flex p {
    font-size: calc(20px + 1vw);
  }

  .NFT-MarketPlace{
    border-bottom: #61dafb 5px solid;

  }

  .dealgames{
    border-bottom: #61dafb 5px solid;

  }

  .RockBand-FanPage{
    border-bottom: #61dafb 5px solid;

  }

  .JavaGames{
    border-bottom: #61dafb 5px solid;
  }

  .network{
    margin-left: 2vw;
  }

  .network_flex h1{
    font-size: calc(25px + 2vw);
  }

  .network_flex p {
    font-size: calc(20px + 1vw);
  }

  .project h3{
    font-size: calc(20px + 2vw);
    margin-left: 5vw;
  }

  .project p{
    margin-left: 5vw;
  }

}